@use '_mixin' as m;


* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: Inter, sans-serif;
    color: #5C4B3B;
    background-color: #F5F5DC;
}

a {
    text-decoration: none;
    color: #5C4B3B;
}

li {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.main-content {
    display: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2%;

    @include m.tab {
        max-width: 600px;
        padding: 4%;
    }
}

.section-title {
    text-align: center;
    margin-bottom: m.$section-margin-pc;
    
    @include m.tab {
        font-size: 0.8rem;
        margin-bottom: m.$section-margin-sp;
    }

    h2 {
        display: inline-block;
        position: relative;
    
        &::before {
            position: absolute;
            content: "";
            left: -50px;
            top: 50%;
            transform: translateY(-50%);
            height: 32px;
            width: 32px;
            background-image: url('../img/section_FlowerTulip.png');
        }

        &::after {
            position: absolute;
            content: "";
            bottom: -8px;
            left: -5%;
            height: 14px;
            width: 110%;
            background-color: rgb(247, 215, 116);
            border-radius: 7px;

            @include m.tab {
                bottom: -4px;
                height: 7px;
            }
        }

    }
}

.js-fade {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    &.is-show {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}


.divider {
    width: 100%;
    height: 20vh;
    background-size: cover;
    background-position: center;    
    /*   スクロールしたときに背景画像が固定される */
    background-attachment: fixed;

    &.room1 {
        background-image:url("../img/room_1.jpg");
    }

    &.room2 {
        background-image:url("../img/room_2.jpg");
    }
}


// 固定ページ共通

.wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 2%;

}

.common-space {
    margin-top: 100px;
}

.back-page {
    margin-block: 30px;
    text-align: right;
    p {
        margin-right: 30px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;
            width: 100px;
            height: 5px;
            background-color: #A6C48A;
            z-index: -2;
        }
        &::after {
            content: "";
            position: absolute;
            top: -3px;
            transform: rotate(138deg);
            right: 97px;
            width: 40px;
            height: 5px;
            background-color: #A6C48A;
            z-index: -2;
        }
    }
    
    a {
        display: inline-block;
        background-color: #A6C48A;
        transition: all .5s ease;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 70px;
            width: 70px;
            border-radius: 50%;
            border: 2px #A6C48A solid;
            box-shadow: 0 1px 0 #5C4B3B;
            background-color: #A6C48A;
            transition: all .5s ease;
            z-index: -1;

        }

        &::before {
            right: 10px;
        }
    
        &::after {
            right: -30px;
        }

        &:hover,
        &:hover::before,
        &:hover::after {
            font-weight: bold;
            background-color: #fff;
        }

    }
}

.fixed-deco {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; // ユーザー操作の邪魔にならないように
    z-index: 0; // メインコンテンツの下になるように
    display: block;

    @include m.pc {
        display: none;
    }
}

.deco {
    position: absolute;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.8;
    animation: sway 1s ease-in-out infinite;

    &--1 { top: 20%; left: 15%; background-image: url(../img/fixpage_PencilRuler.png); }
    &--2 { top: 42%; left: 6%; background-image: url(../img/fixpage_Volleyball.png); }
    &--3 { bottom: 30%; left: 13%; background-image: url(../img/fixpage_Cat.png); }
    &--4 { bottom: 5%; left: 5%; background-image: url(../img/fixpage_Rainbow.png); }
    &--5 { top: 20%; right: 13%; background-image: url(../img/fixpage_Bird.png); }
    &--6 { top: 40%; right: 5%; background-image: url(../img/fixpage_Butterfly.png); }
    &--7 { bottom: 30%; right: 12%; background-image: url(../img/fixpage_Flower.png); }
    &--8 { bottom: 7%; right: 7%; background-image: url(../img/fixpage_CarProfile.png); }
}

@keyframes sway {
    0%   { transform: rotate(20deg); }
    50%  { transform: rotate(0deg); }
    100% { transform: rotate(-20deg); }
}