@use '_mixin' as m;

footer {
    text-align: center;
    margin-block: 30px;
    p {
        font-size: 0.7rem;
    }

    .back-to-top {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.8);
        transition: all 0.3s ease;
        z-index: 1000;
        background: none;

        &.is-show {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            pointer-events: auto;
        }
        
        &:hover {
            transform: scale(1.1);
        }
        
        &__circle {
            position: absolute;
            width: 100%;
            height: 100%;
            background: url("../img/back-to-top.png") no-repeat center/contain;
            animation: spin 10s linear infinite;
            z-index: 1;
        }
        
        &__text {
            font-size: 1rem;
            color: #5C4B3B;
            z-index: 2;
            position: relative;
        }
    }
    

}

// アニメーション定義
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}