@use '_mixin' as m;

header {
    display: flex;
    align-items: center;
    padding-right: 30px;
    height: m.$header-height;
    width: 100%;
    background-color: rgba(247, 215, 116, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;

    @include m.sp {
        height: m.$header-height_sp;
        padding-right: 10px;
    }

    h1 {
        line-height: 0;

        .logo {
            width: 250px;
            @include m.sp {
                width: 150px;
            }
        }
    }

    .toggle-btn {
        width: 60px;
        height: 60px;
        z-index: 100;
        background-color: rgb(247, 215, 116);
        border-radius: 5px;
        position: relative;
        cursor: pointer;

        @include m.sp {
            width: 40px;
            height: 40px;
        }


        span {
            position: absolute;
            // .toggle-btnの中央に寄せる
            left: 50%;
            transform: translateX(-50%);
            border-radius: 10px;
            height: 4px;
            width: 77%;
            background-color: #333333;
            transition: .5s ease;

            @include m.sp {
                height: 2px;
            }

            &:nth-child(1) {
                top: 26%;
            }
            &:nth-child(2) {
                top: 48%;
            }
            &:nth-child(3) {
                top: 70%;
            }
        }
    }

    nav {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.8);
        position: fixed;
        background-color: #A6C48A;
        bottom: -10%;
        left: -10%;
        z-index: 1000;
        height: 70vh;
        max-width: 500px;
        width: 100%;
        border-top-left-radius: 300px;
        border-top-right-radius: 200px;
        border-bottom-right-radius: 350px;
        transition: all .5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include m.sp {
            max-width: 300px;
            height: 75vh;
            border-top-right-radius: 20px;
        }

        .nav-list {
            padding: 20px;

            > li > a {
                display: inline-block;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -30px;
                    height: 20px;
                    width: 20px;
                    transform: translateY(-50%) scale(0.5) rotate(-20deg);
                    transition: transform 0.3s ease, opacity 0.3s ease;
                    opacity: 0;
                    background-image: url(../img/nav_star.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;                
                }

                &:hover::before {
                    opacity: 1;
                    transform: translateY(-50%) scale(1) rotate(0deg);
                }
            }

            li {
                margin-bottom: 10%;
                a {
                    position: relative;
                    display: inline-block;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        height: 2px;
                        width: 0;
                        background-color: #5C4B3B;
                        opacity: 0;
                        transition: all .3s ease;
                    }
                    
                    &:hover::after {
                        opacity: 1;
                        width: 100%;
                    }
                }   
            } 
                
            .detail-list {
                    
                li {
                    margin-bottom: 7%;
                    margin-left: 25px;
                    font-size: 0.9rem;
                    position: relative;

                    &:first-of-type {
                        margin-top: 5%;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -15px;
                        height: 1px;
                        width: 5px;
                        background-color: #5C4B3B;
                        transition: all .3s ease;
                    }

                    &:hover::before {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-color: transparent transparent transparent #5c4b3b;
                        border-width: 5px 0px 5px 8.66px;
                        background-color: transparent; // 線の背景を消す
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    .mask {
        position: fixed;
        top: 80px;
        z-index: 30;
        height: calc(100vh - 80px);
        width: 100vw;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transform: opacity .5s ease;
    }


    &.open {
        .toggle-btn {
            span {
                &:nth-child(1) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }
        nav {
            bottom: 0;
            left: 0;
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }

        .mask {
            opacity: 0.5;
            visibility: visible;
        }
    }

}