// ---------------------------------------
// responsive
// ---------------------------------------
$pc: 1160px;
$tab: 920px;
$sp: 500px;

@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
}

@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

// ---------------------------------------
// 変数宣言
// ---------------------------------------
$section-margin-pc: 100px;      //セクション間の余白
$section-margin-sp: 50px;        //セクション間の余白
$header-height: 80px;           //ヘッダーの高さ
$header-height_sp: 50px;        //ヘッダーの高さsp


// ---------------------------------------
// 関数
// ---------------------------------------


// ---------------------------------------
// z-index 管理
// ---------------------------------------
// loading                  :9999
// nav                      :1000
// header                   :999
// toggle-btn               :100
// mask                     :30
// セクション内position       :1~10
// セクション内背景            :-1
// ---------------------------------------

