@use '../_mixin' as m;

.life {
    background-image: url(../img/life.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding-block: m.$section-margin-pc;

    &__toggle-btn {
        display: none;
        justify-content: center;
        gap: 5%;
        width: 100%;
        margin-bottom: 20px;

        @include m.tab {
            display: flex;
        }

        .btn {
            background-color: #F5F5DC;
            border-radius: 10px;
            padding: 5px 20px;
            box-shadow: 0 3px 0 0 rgba(17,17,26,0.4);
            cursor: pointer;
            transition: all 0.3s ease;

            &:active {
                position: relative;
                top: 3px;
                box-shadow: none;
            }
            &.show {
                background-color: #A6C48A;
            }
        }
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        
        @include m.tab {
            justify-content: center;
        }

        &--item {
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 10px;
            width: 350px;
            visibility: hidden;
            opacity: 0;
            transform: translateY(30px);
            transition: opacity 0.5s ease, transform 0.5s ease;
            
            @include m.tab {
                display: none;

                &.active {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }
            }



            p {
                margin-block: 30px;
                text-align: center;
            }

            dl {
                padding: 0 30px 30px 100px;
                position: relative;
                
                &::after {
                    content: '';
                    position: absolute;
                    left: 11.5%;
                    top: 0;
                    width: 2px;
                    height: 80%;
                    background: #5C4B3B;
                    z-index: 1;
                }

                .item {
                    display: flex;
                    justify-content: space-between;
                    // align-items: center;
                    margin-bottom: 30px;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        left: -31%;
                        top: 0;
                        // top: 50%;
                        // transform: translateY(-50%);
                        width: 20px;
                        height: 20px;
                        background: #A6C48A;
                        border-radius: 2px;
                        z-index: 2;
                    }

        
                    dt {
                        width: 30%;
                        margin-right: 15px;
                    }
                    dd {
                        width: 70%;
                        line-height: 1.6;
                    }

                }
            }
        }
    }
}