@use '../_mixin' as m;

.news {
    margin-block: m.$section-margin-pc;

    dl {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include m.tab {
            flex-direction: column;
        }

        dt {
            width: 20%;
            margin-bottom: 50px;
            border-bottom: 1px rgba(92, 75, 59, 0.5) solid;
            text-align: center;
            padding-bottom: 5px;
            position: relative;

            @include m.tab {
                width: 50%;
                text-align: left;
                margin-bottom: 20px;
                padding-left: 10px;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                width: 10px;
                height: 10px;
                border: 1px rgba(92, 75, 59, 0.5) solid;
                border-radius: 50%;
            }

            &::before {
                left: -10px;
            }
            &::after {
                right: -10px;
            }

        }
        dd {
            width: 70%;
            margin-bottom: 50px;
            border-bottom: 1px rgba(92, 75, 59, 0.5) solid;
            padding-left: 10px;
            padding-bottom: 5px;
            transition: all .3s ease;
            position: relative;

            @include m.tab {
                width: 100%;
            }

            &:hover {
                opacity: 0.6;

            }


            &::before,
            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                width: 10px;
                height: 10px;
                border: 1px rgba(92, 75, 59, 0.5) solid;
                border-radius: 50%;
            }

            &::before {
                left: -10px;
            }
            &::after {
                right: -10px;
            }


        }
    }
}