@use '../_mixin' as m;

.accordion-area {
    margin-bottom: 100px;



    li {
        margin-bottom: 20px;

        section {
            border: 1px rgba(92, 75, 59, 0.3) solid;
            border-radius: 5px;

            .title {
                font-weight: normal;
                font-size: 1rem;
                cursor: pointer;
                padding: 3% 100px 3% 5%;
                transition: all .3s ease;
                position: relative;

                @include m.tab {
                    font-size: 0.9rem;
                    padding-right: 30px;
                    
                }

                span {
                    font-weight: bold;
                    margin-right: 10px;
                }

                &::after {
                    position: absolute;
                    content: "";
                    top: 50%;
                    transform: translateY(-50%);
                    right: 30px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent transparent rgb(92, 75, 59) transparent;
                    border-width: 0px 10px 17.32px 10px;
                    transition: transform 0.3s ease;                
                    @include m.sp {
                        right: 10px;
                    }
                }

                &.close {
                    &::after {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
            }
            .box {
                display: none;
                background-color: rgba(166, 196, 138, 0.8);
                border-radius: 5px;
                margin: 0 3% 3% 3%;
                padding: 3% 3% 3% 50px;

                span {
                    font-weight: bold;
                    margin-right: 10px;
                }
            }
        }
    }

}